body {
    background-color: #181818;
    color: white;
}

.navbar {
    background-color: transparent;
    margin: 0px;
    overflow: hidden;
}

.navbar-brand{
    font-family: 'Dosis', sans-serif;
    font-size: 1.75rem;
    text-shadow: 2px 2px 4px #404040;
}

.content {
    background: url('../images/yaffa.jpg') no-repeat left center;
    display: block;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

.rightside, .leftside {
    height: 100vh;
}

.rightside {
    background-color:rgba(200,200,200, .5);
}

.topRow {
    height: 25%;
}

.middleRow {
    height: 50%;
}

.bottomRow {
    height: 25%;
}

.topIntroBoxRow, .bottomIntroBoxRow {
    height: 10%;
    border:#202020 8px solid;
    font-family: 'Dosis', sans-serif;
    color: #202020;
}

.topIntroBoxRow {
    font-size: 2rem;
}

.bottomIntroBoxRow {
    font-size: 1.5rem;
}

.topIntroBoxRow {
    border-bottom: none;
}

.bottomIntroBoxRow {
    border-top: none;
}

.middleIntroBoxRow {
    height: 80%;
}
