body {
  background-color: #181818;
  color: white;
}
.content {
  background: url("../images/yaffa.jpg") no-repeat left center;
  display: block;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}

.link {
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}

.link:hover,
.link:active,
.link:focus {
  color: rgb(0, 165, 185);
  text-decoration: none;
}

.rightside,
.leftside {
  height: 100vh;
  overflow: hidden;
}
.rightside {
  background-color: rgba(200, 200, 200, 0.25);
}

.topRow {
  height: 6%;
}
.bottomRow {
  height: 44%;
}
.middleRow {
  height: 50%;
}

/* ********* */
/* INTRO BOX */
/* ********* */
.introBoxColumn {
  background-color: rgba(10, 10, 10, 0.25);
  color: whitesmoke;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  box-shadow: 0 0 4px #181818;
}
.topIntroBoxRow,
.bottomIntroBoxRow {
  height: 15%;
  border: rgb(0, 165, 185) 10px solid;
  font-family: "Big Shoulders Stencil Text", cursive;
  text-shadow: -2px 2px 4px #181818;
}
.topIntroBoxRow {
  font-size: 2rem;
  font-size: max(5vmin, 2rem);
  border-bottom: none;
}
.bottomIntroBoxRow {
  font-size: 1.5rem;
  font-size: max(3.65vmin, 1.5rem);
  border-top: none;
}
.middleIntroBoxRow {
  height: 70%;
  letter-spacing: 2px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  .leftside,
  .aboutMeContentLeftSide {
    display: none;
  }
}

/* ******************* */
/* ICONS BOX AND PAGES */
/* ******************* */
.iconsBox {
  color: whitesmoke;
  font-size: 1.75rem;
}

.projectsPage,
.aboutMePage,
.contactPage {
  position: absolute;
  top: 0;
  height: auto;
  min-height: 100vh;
}

.projectsPage {
  left: 0;
  width: 100vw;
}

.projectsPage {
  background-color: rgba(10, 10, 10, 0.95);
}

.aboutMePage,
.contactPage {
  right: 0;
  border-left: rgb(0, 165, 185) 10px solid;
  background-color: rgba(10, 10, 10, 0.95);
}

.aboutMeContent,
.contactContent {
  height: auto;
  min-height: 100vh;
}

/* ********* */
/* LINKS BOX */
/* ********* */
.linksBox {
  border-radius: 10px;
  box-shadow: 0px 0px 4px #181818;
  background-color: rgba(10, 10, 10, 0.25);
  color: whitesmoke;
  text-shadow: -2px 2px 2px #181818;
  letter-spacing: 1px;
  font-family: "Big Shoulders Stencil Text", cursive;
  font-weight: 400;
  font-size: 1.5rem;
  font-size: max(3vmin, 1.5rem);
  letter-spacing: 6px;
}

.boxItems:hover {
  cursor: pointer;
}

.contentLinksBox {
  height: 100%;
  color: white;
  background-color: #10101090;
}

#projects:hover,
#resume:hover,
#aboutMe:hover,
#contact:hover,
.iconsBox:hover {
  color: rgb(0, 165, 185);
}
